/* Se puede cambiar lo que esta dentro del root */
:root {
    /* Paleta de colores */
    --color1: #1e1414; /* Color de fondo del top-bar */
    --color2: #C8D4E2; /* Color de texto del top_bar */
    --color3: #545a5b; /* Color de parrafo */
    --color4: #FFFFFF; /* Color blanco */
    --color5: #b40818; /* Color primario */
    --color6: #282828; /* Color de subtitulos */
    --color7: #171d25; /* Color del footer-bg */
    --color8: #bbbbb9; /* Color del texto del footer */
    --color9: #FFFFFF; /* Color de links en el footer */

    /* Tipografias */
    --fuente1: "Manrope", sans-serif;

    /* Interlineados */
    --spacing1: 1.6;

}

/* ------------------------------------ */
/* Selector universal de elementos */
/* ------------------------------------ */
*{
    /* Elimina espacios predeterminados */
    margin: 0;
    padding: 0;

    /* Evita que un contenedor cambie de tamaño al agregar espacios*/

    box-sizing: border-box;
}


/* Escojo que color usar de los que guarde con var() */
/* ------------------------------------ */
/* Selectores tipo ID */
/* ------------------------------------ */
#header {
    background-color: var(--color5);
    color: var(--color3);
}

#vision {
    background-color: var(--color4);
    color: var(--color3);
}

#nosotros{
    background-color: var(--color4);
    color: var(--color3);
}

#mision{
    background-color: var(--color4);
    color: var(--color3);
}

#productos{
    background-color: var(--color5);
    color: var(--color4);
    padding: 50px 0;
    
}

#novedades{
    background-color: var(--color2);
    color: var(--color7);
}

#footer {
    background-color: var(--color7);
    color: var(--color8);
}

#banner {
    background-color: var(--color4);
}

/* PRODUCTO */
#productos img, #novedades img{
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* ESPACIO DEBAJO DEL ELEMENTO H3 */
#productos h3, #novedades h3{
    margin-bottom: 10px;
}




/* ------------------------------------ */
/* Selectores tipo etiqueta */
/* ------------------------------------ */
body {
    font-family: var(--fuente1);
    line-height: var(--spacing1);
}

/* Elimina los espacios que aparecen debajo del objeto */
img, video {
    display: block;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    
}


/* ------------------------------------ */
/* Selectores tipo class */
/* ------------------------------------ */

/* Padding extra pequeño */
.padding-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Padding extra grande */
.padding-xl {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-section{
    padding-bottom: 40px;
}

/* Ajustar ancho del contenedor en pantalla */
.container {
    max-width: 70%;
    margin: auto;
}

/*CONTAINER PARA NOVEDADES*/
.novedadescontainer{
    display: flex;
    justify-content: center;
    gap: 40px;

}

.novedad{
    width: 300px;
    text-align: center;
}

.novedad img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto 0 auto;
}

/* CAMBIO DE COLOR PARA PRODUCTOS */
.intercalado{
    background-color: var(--color4);
    color: var(--color3);
    padding: 30px 0;
    margin-bottom: 40px;
}

/* Para que la imagen sea responsive */
.img-fluid {
    width: 100%;
    height: auto;
}



/* Tamaño del logo */
.nav-logo {
    width: 150px;
    height: auto;
}



